@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "cupcake";
  default: true;
  prefersdark: false;
  color-scheme: light;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), "Hiragino Sans", "Yu Gothic", system-ui, sans-serif;
}
